doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block head-title
      title 呼吸書房｜風野湊 Official Web Site
    block head-description
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="author" content="Minato KAZANO / 風野 湊")
      meta(name="keywords" content="呼吸書房,風野湊,小説,短編,詩,朗読,紀行文,旅,幻想,ファンタジー,SF,オリジナル")
      meta(name="format-detection" content="telephone=no")
    block css-link
      link(rel="stylesheet" href="./css/style.css")
  body
    block body
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    block js-link
      script(src="/js/common.js")
