header
  h1 呼吸書房
  nav
    ul.navList__main
      li: a(href="#") 此処について
      li: a(href="#") ブログ
      li: a(href="#") メール
    ul.navList__sns
      li: a(href="#") Twitter
    ul.navList__contents
      li: a(href="#") 小説
      li: a(href="#") 紀行文
      li: a(href="#") 詩と朗読
      li: a(href="#") 書籍販売
  div
    p News
// /header