@charset "utf-8";
@import "compass";
@import "base";

//BRAKE-POINT
$bp-max: 1700px;
$bp-tablet: 1140px;
$bp-sp: 764px;

//MediaQuery-Mixin
@mixin media($media-width) {
  @if $media-width == sp {
    @media only screen and (max-width: $bp-sp) and (orientation:portrait) {
      @content;
    }
  }
  @else if $media-width == tablet{
    @media only screen and (max-width: $bp-tablet) {
      @content;
    }
  }
  @else if $media-width == max{
    @media only screen and (max-width: $bp-max) {
      @content;
    }
  }
}

//変数
$baseColor: white;

//MixIn
@mixin flexDefault(){
  display: flex;
  flex-wrap: wrap;
}
@mixin flexNoWrap(){
  display: flex;
  flex-wrap: nowrap;
}
@mixin flexCentering(){
  justify-content: center;
  align-items: center;
}

/* HEADER FRONT & SUB-PAGE
------------------------------------------*/
#wrapper{
  a, a:hover, a:visited {
    color: dodgerblue;
  }
}
.fl{
  display: flex;
  flex-wrap: wrap;
  &__cn{
    justify-content: center;
    align-items: center;
  }
}
//Sassのincludeでflexをどうこうする

//Common Rayout
header{
  
}
footer{
  width: 100%;
  text-align: center;
}
.title-txt{
  &__detail{
    h1{
      font-size: 42px;
      @include media(tablet) {
        font-size: 4.5vw;
      }
    }
    h2{
      font-size: 32px;
      @include media(tablet) {
        font-size: 2.5vw;
      }
    }
    h3{
      font-size: 24px; color: #ccc;
      @include media(tablet) {
        font-size: 2vw;
      }
    }
  }
}
.fillPageContents{
  width: 100%;
  height: auto;
  min-height: 100vh;
}

//TOP Page
.home{
  header{
    position: fixed;
    bottom: 0;
  }
  
  &__MainList{
    @include flexDefault();
    @include flexCentering();
  }
  
  &__RandomPickUp{
    
  }
  
  &__Introduction{
    @include flexDefault();
    @include flexCentering();
  }
  
}